# Archivos y carpetas de compilación
build/
build-*/
debug/
release/
CMakeLists.txt.user
*.user
*.pro.user

# Archivos del compilador y del enlazador
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
*.lib
*.a

# Carpetas de Qt Creator
.qtc_clangd/
